<!-- ejs extension is used so that the templets can read the code and execute the js code inside -->
<html>
    <head>
        <title>
            <%= title %>
        </title>
    <script src="https://kit.fontawesome.com/ed54348148.js" crossorigin="anonymous"></script>
    <!-- our css should be below fontawesome so we can override the css -->
     <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fas fa-address-book"></i>
            My Contact List
        </h1>

        <div id="contacts-list-container"
            <ul>
                <% for (let i of contact_list) { %>
                    <li class="contact">
                       <div class="details">
                          <p><%= i.name %></p>
                          <P><%= i.phone %></P>
                       </div>

                       <div class="delete-button">
                           <!-- <a href="/delete-contact/<%= i.phone%>"> -->
                               <!-- for the query part -->
                           <a href="/delete-contact/?phone=<%= i.phone %>">
                               <i class="fas fa-window-close"></i>
                           </a>
                       </div>
                    </li>
                <% } %>
            </ul>
        </div>

        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="number" name="phone" placeholder=" Enter Phone" required>

            <button type="submit">Add</button>
        </form>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>